<ion-header class="ion-no-border">
  <ion-toolbar color="cyan">
    <ion-title text-capitalize>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button class="ion-margin-vertical" routerLink="/login">
    <ion-icon name="person-add" slot="start"></ion-icon>
    <ion-label>Login</ion-label>
  </ion-button>
  <ion-button class="ion-margin-vertical" routerLink="/register">
    <ion-icon name="person-add" slot="start"></ion-icon>
    <ion-label>Create account</ion-label>
  </ion-button>
</ion-content>